<?xml version="1.0"?>
<launch>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" exec="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <!-- Fake Calibration -->
  <!--<node pkg="rostopic" exec="rostopic" name="fake_joint_calibration"
        args="pub /calibrated std_msgs/Bool true" />-->
  <executable cmd='ros2 topic pub /calibrated std_msgs/Bool "data: 1"' name="fake_joint_calibration"/>
  
  <!-- joint_state_controller -->
  <!--<rosparam file="$(find ur_gazebo)/controller/joint_state_controller.yaml" command="load"/>-->
  <!--<node name="joint_state_controller_spawner" pkg="controller_manager" exec="controller_manager" args="spawn joint_state_controller" respawn="false" output="screen">
    <param from="$(find-pkg-share ur_gazebo)/controller/joint_state_controller.yaml"/>
  </node>-->
  
  
  
</launch>
